<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta
			name="description"
			content="swe 573 projet, co-learn web application"
		/>
		<meta name="author" content="onur demirkale" />

		<title>Co-Learn</title>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<!-- Navbar -->
		{%include 'navbar_auth.html'%}
		<!-- Navbar End -->
		<main role="main" class="container py-5 bg-light">
			<div class="row">
				<div class="col-md-4">
					<div>
						<aside class="col-md-12">
							<div class="card mb-4 box-shadow">
								{% if profile_picture %}
								<img
									class="card-img-top"
									style="max-width: 400px; width: 100%"
									src="{{profile_picture.url}}"
									alt="Profile Picture"
								/>
								{% else %}
								<img
									class="card-img-top"
									style="max-width: 400px; width: 100%"
									src="https:\/\/swe573.s3.eu-central-1.amazonaws.com/blank-profile-picture.png"
									alt="Profile Picture"
								/>
								{% endif %}
								<div class="card-body">
									<h4>{{first_name}} {{last_name}}</h4>
								</div>
							</div>
							<div class="form-group row d-flex justify-content-center">
								<div>
									<button
										form="profile-edit"
										class="btn btn-primary"
										type="submit"
									>
										Save
									</button>
								</div>
								<div>&nbsp;&nbsp;&nbsp;</div>
								<div>
									<a class="btn btn-secondary" href="/user/{{user_id}}"
										>Cancel</a
									>
								</div>
							</div>
						</aside>
					</div>
				</div>
				<div class="col-md-8">
					<form
						method="POST"
						id="profile-edit"
						action="/user/{{user_id}}/edit"
						enctype="multipart/form-data"
					>
						{% csrf_token %}
						<div class="card mb-4 box-shadow">
							<div
								class="card-header d-flex justify-content-between align-items-center"
							>
								<h4 class="my-0 font-weight-normal">Biography</h4>
							</div>
							<div class="card-body">
								<div class="form-group">
									<div>
										<textarea
											class="form-control"
											name="bio"
											rows="3"
											form="profile-edit"
										>
{{bio}}</textarea
										>
									</div>
								</div>
							</div>
						</div>

						<div class="card mb-4 box-shadow">
							<div
								class="card-header d-flex justify-content-between align-items-center"
							>
								<h4 class="my-0 font-weight-normal">Background</h4>
							</div>
							<div class="card-body">
								<div class="form-group">
									<div>
										<textarea class="form-control" name="background" rows="3">
{{background}}</textarea
										>
									</div>
								</div>
							</div>
						</div>

						<div class="card mb-4 box-shadow">
							<div
								class="card-header d-flex justify-content-between align-items-center"
							>
								<h4 class="my-0 font-weight-normal">Interests</h4>
							</div>
							<div class="card-body">
								<div class="form-group">
									<div>
										<textarea
											class="form-control"
											name="interests"
											placeholder="Interest 1, Interest 2..."
											rows="3"
										>
{% for i in interests %}{{ i }}, {% endfor %}</textarea
										>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</main>
		<!-- Footer -->
		{%include 'footer.html'%}
		<!-- Footer end-->
	</body>
</html>
