<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta
			name="description"
			content="swe 574 projet, co-learn web application"
		/>
		<meta name="author" content="onur demirkale" />

		<title>Co-Learn</title>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body class="bg-light">
		<!-- Navbar -->
		{% if user_authenticated %} {%include 'navbar_auth.html'%} {% else %}
		{%include 'navbar_unauth.html'%} {% endif %}
		<!-- Navbar End -->

		<div class="mt-5">
			<a class="btn btn-success btn-sm" aria-current="page" href="/learningspace/{{learning_space_id}}/quizes/{{quiz.id}}/create_question">Add a question</a>
		  </div>
		
		
		  <html>
			<div class="mt-5">
			  <form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form_question.as_p }}
				<button class="btn btn-success btn-sm" href="/learningspace/{{learning_space_id}}/quizes/{{quiz.id}}">Create a question</button>
			  </form>
			</div>
		  </html>