<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" href="/explore">Co-Learn</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{% url "learning_space:my_learning_spaces_view" %}">My Learning Spaces</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/annotations">My Annotations</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/explore">Explore</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/user/{{user_id}}">Profile</a>
			</li>
			<form method="GET" action="/search/" class="form-inline my-2 my-md-0">
				{% csrf_token %}
				<input
					name="query"
					class="form-control"
					type="text"
					placeholder="Search..."
				/>
			</form>
			<li class="nav-item">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<script>
	// TODO: Update the onClick event listener to be only toggled 
	// when the annotation button is toggled.
	document.onclick = function (event) {
		let path = getPathTo(event.target);
	}
	
	function getPathTo(element) {
		if (element.id !== "") return 'id("' + element.id + '")';
		if (element === document.body) return element.tagName;
	
		let ix = 0;
		let siblings = element.parentNode.childNodes;
		for (let i = 0; i < siblings.length; i++) {
			let sibling = siblings[i];
			if (sibling === element)
				return getPathTo(element.parentNode) + "/" + element.tagName + "[" + (ix + 1) + "]";
			if (sibling.nodeType === 1 && sibling.tagName === element.tagName) ix++;
		}
	}
</script>